#field-notes {
    min-height: 200px;
}
#domain-list {
    margin-bottom: 5px;
}
#settings-button img {
    vertical-align: middle;
}
.password-label {
    transition: 3s all;
}
.password-updated {
    background-color: #43ac6a;
    color: white;
}